
*{
  text-align: center;
}

.header{
  text-align: center;
  margin: 10px;
}

.text{
  font-weight: bold;
}

.banner{
  background: url("../images/banner.jpg") no-repeat center;
  height: 400px;
  background-size: cover;
  font-family: 'Lexend Mega', sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 300;
  padding: 70px 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container6 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center }
.container6 p {
  margin: 0 }

#rectangle {
  background: black;
}

#rectangle2 {
  background: #F2F2F2;
}

#rectangle3 {
  background: #FFFFFF;
  margin: 10% 1% 1% 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

#rectangle4 {
  background: #55BCE7;
}

#rectangle5 {
  background: #1F232C;
}


.box{
  margin: 5px 0;
  border:solid #FFFFFF;
  text-align:center;
}

.banner5{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.banner1{


}

.banner2{
  background: url("../images/icon2.png") no-repeat center;
  background-color: #55BCE7;
  height: 50px;
  border-radius: 100%;
  width: 50px;
}

.banner3{
  background: url("../images/icon3.png") no-repeat center;
  background-color: #55BCE7;
  height: 50px;
  border-radius: 100%;
  width: 50px;
}

.menu{
  width: 100%;
}

.menu ul{
  display: inline-block;
}
.menu ul li{
  list-style-type: none;
  float: left;
  padding: 10px;
  margin: 10px;
}

.wrapper{
  margin: 5%;
}
.wrap {
  padding: 1rem;
  text-align: center;
  background: #FFFFFF;
  margin: 10% 1% 1% 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.options>div {
  margin: 50px 0;
  /* for demo */
}

.blockico {
  margin-top: -50px;
  margin-left: 40%;
}

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
.options ul,
.options li {
  margin: 0;
  padding: 0;
  list-style: none;
}
