.title
{
    text-align: left;
}

.green
{
    color: green;
}

.black
{
    color : black;
}
.pad
{
    padding-top: 20px;
    padding-left: 40px;
}

.pad1
{
  padding-top: 20px;
  padding-left: 40px;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.thin {
  font-weight: bold;
}

.img {
  display: block;
  margin-left: 60px;
  margin-right: auto;
  width: 40%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.shadow1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 {
  background-color: #b9936c;
  color: black;
  /*border: 2px solid #4CAF50;*/
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: #b9936c;
  color: black;
  /*border: 2px solid #008CBA;*/
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: #b9936c;
  color: black;
  /*border: 2px solid #f44336;*/
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: #b9936c;
  color: black;
  /*border: 2px solid #e7e7e7;*/
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: #b9936c;
  color: black;
  /*border: 2px solid #555555;*/
}

.button5:hover {
  background-color: #00daff;
  color: white;
}

.button6 {
  background-color: #b9936c;
  color: black;
  /*border: 2px solid #555555;*/
}

.button6:hover {
  background-color: #8b00ff;
  color: white;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  /*width: 6%;*/
  padding: 10px;
  height: 100px; /* Should be removed. Only for demonstration */
}

.width1
{
  width: auto;
  margin-left: auto;
  margin-right:auto;
}

.width2
{
  width: 50%;
  margin-left: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

nav {
    width: 100%;
    height: 60px;
    background: #292f36;
    postion: fixed;
    z-index: 10;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
